{% extends 'base/base.html' %}
{% block content %}
  <div class="card">
      <div class="card-header">
          <i class="fa fa-align-justify">Attendance Report</i>
    </div>
      <div class="card-body">
{#          <label for="birthdaytime">Date</label>#}
{#          <input type="date" id="birthdaytime" name="birthdaytime">#}

          <form action="/attendance/attendance_report/" method = 'POST'>
                {% csrf_token %}
              <label>
                Date
                <input type="date" name="bday" />
              </label>
              <p><button>Submit</button></p>
          </form>

          <table class="table table-responsive-sm">
              <thead>
                  <tr>
                      <th>Date</th>
                      <th>Class Name</th>
                      <th>Student</th>
                      <th>Status</th>

                  </tr>
              </thead>
              <tbody>
                  {% for att in attendance %}
                    <tr>
                        <td>{{ att.date }}</td>
                        <td>{{ att.class_name }}</td>
                        <td>{{ att.student.student.personal_info.name }}</td>
                        <td>Present</td>

                    </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>

  </div>
{% endblock %}
